* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.header {
  background-color: #043873;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 13rem;
  align-items: center;
}

#logo {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 1.8rem;
}

.header ul li {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: "DM sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.login-btn {
  border-radius: 8px;
  padding: 16px 40px;
  background-color: #ffe492;
  color: #043873;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -2%;
  border: none;
  margin-right: 1.5rem;
}

.free-btn {
  background-color: #4f9cf9;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.free-btn:hover,
.hero-btn:hover,
.get-started-btn:hover {
  background-color: #478ce0;
  cursor: pointer;
}

.login-btn:hover {
  cursor: pointer;
  background-color: #e6cd83;
}

/* ************ */
/* HERO SECTION */
/* ************ */
.hero-section {
  background-color: #043873;
  padding: 140px 220px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.text {
  font-size: 1.125rem;
  line-height: 30px;
  margin-bottom: 2rem;
}

.hero-btn {
  padding: 20px;
  border-radius: 8px;
  background-color: #4f9cf9;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: inherit;
}

/* ********* */
/* Section 1 */
/* ********* */
.management,
.work-together,
.extension {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 140px 200px;
}

.subheading {
  font-size: 4.5rem;
  color: #212529;
  line-height: 88px;
  margin-bottom: 2.5rem;
}

.management .text {
  color: #212529;
}

.get-started-btn {
  font-weight: 500;
  line-height: 23px;
  color: #fff;
  background-color: #4f9cf9;
  border: none;
  font-weight: 500;
  padding: 20px 40px;
  font-size: 1.125rem;
  border-radius: 8px;
}

.extension {
  background-color: #043873;
}

.extension h2,
.extension p {
  color: #fff;
}
